<!DOCTYPE html>
<html lang="en">
<head>
    <title>Discussion Forum</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet" media="all">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><b>Studenthands</b></a>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Find Tutors<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/searchTutorRate">By Rate</a></li>
                        <li><a href="/searchTutorSub">By Location</a></li>
                        <li><a href="/searchTutorSub">By Subjects</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Discussion Forum<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/discussionforum">Search Questions</a></li>
                        <li><a href="#">Ask Questions</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Weekly Challenge<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/challenge">Current hallenges</a></li>
                        <li><a href="/ranking">Ranking</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Learning Resources<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/challenge">Search Materials</a></li>
                        <li><a href="/ranking">Share Materials</a></li>
                    </ul>
                </li>
    
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <%if(!user){%>
                    <li><a href="/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="/Register"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
                <%}else{%>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span><%=user.username%><span class="caret"></a>
                        <ul class="dropdown-menu">
                            <li><a href="/userinfo">User information</a></li>
                            <li><a href="#">Top up</a></li>
                            <li><a href="/getmessage">Message</a></li>
                            <li><a href="/Logout">Logout</a></li>
                        </ul>
                    </li>
                <%}%>
            </ul>
        </div>
    </nav>
    <h2>Discussion Forum</h2>
    <%for (var i=0;i<questions.length;i++){%>
        <div class="name">question: <%=questions[i].question%></div>
        <div class="name">poster: <%=question[i].poster%></div>
        <div class="name">description: <%=questions[i].description%></div>
        <%for (var j=0;j<questions[i].answer.length;j++){%>
            <div class="name">answer<%=j%>: <%=questions[i].answer[j]%></div>
        <%}%>
        <%if (user){%>
            <form action="/answerquestion/<%=question[i].question>" method="POST">
                <div class="name">Additional answer:</div>
                <input class="input--style-5" type="text" name="answer">
                <div>
                    <button class="btn btn--radius-2 btn--green" type="submit" value ="post answer">Answer question</button>
                </div>
            </form>
        <%}%>
    <%}%>
    <%if (user){%>
        <form action="/postquestion" method="POST">
            <div class="name">question:</div>
            <input class="input--style-5" type="text" name="question" required>
            <div class="name">description:</div>
            <input class="input--style-5" type="text" name="description" required>
            <div>
                <button class="btn btn--radius-2 btn--green" type="submit" value ="post">Post Question</button>
            </div>
        </form>
    <%}%>
</body>

</html>

<style>
    .navbar-header {
        color: #edf0f1;
        margin-top: -10px;
    }
</style>