<!DOCTYPE html>
<html lang="en">
<head>
  <title>searching tutor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link href="/css/register.css" type="text/css" rel="stylesheet" media="all">

</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><b>Studenthands</b></a>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Find Tutors<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/searchTutorRate">By Rate</a></li>
            <li><a href="/searchTutorSub">By Location</a></li>
            <li><a href="/searchTutorSub">By Subjects</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Discussion Forum<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/discussionforum">Search Questions</a></li>
            <li><a href="#">Ask Questions</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Weekly Challenge<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/challenge">Current hallenges</a></li>
            <li><a href="/ranking">Ranking</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Learning Resources<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/challenge">Search Materials</a></li>
            <li><a href="/ranking">Share Materials</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%if(!user){%>
          <li><a href="/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a href="/Register"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
        <%}else{%>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span><%=user.username%><span class="caret"></a>
          <ul class="dropdown-menu">
            <li><a href="/userinfo">User information</a></li>
            <li><a href="#">Top up</a></li>
            <li><a href="#">Message</a></li>
            <li><a href="/Logout">Logout</a></li>
          </ul>
        </li>
        <%}%>
      </ul>
    </div>
  </nav>
  <div class="page-wrapper">
    <div class="wrapper wrapper--w790">
      <div class="card card-5">
        <div class="card-heading">
          <h2 class="title">Searching result</h2>
        </div>
        <div class="card-body">
          <% for(var i=0;i<result.length;i++){%>
          <a href="/tutorinfo/<%=result[i].name%>">
            <img src="/image/people-icon.jpg" alt ="head" width="10%" algin ="right">
            <div class="forum-row">
              <div class="name">name: <%=result[i].name%><div>
                </div>
              <div class="forum-row">
                <div class="name">subject: <%=result[i].subject%></div>
              </div>
              <div class="forum-row">
                <div class="name">age: <%=result[i].age%></div>
              </div>
              <div class="forum-row">
                <div class="name">rate: <%=result[i].rate%></div>
              </div>
          </a>
              <% }%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<style>
  .navbar-header {
      color: #edf0f1;
      margin-top: -10px;
  }
</style>