<!DOCTYPE html >


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Tutor information</title>

    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="css/register.css" rel="stylesheet" media="all">
    <link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/fonts.css" rel="stylesheet" type="text/css" media="all" />

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><b>Studenthands</b></a>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Find Tutors<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/searchTutorRate">By Rate</a></li>
                    <li><a href="/searchTutorSub">By Location</a></li>
                    <li><a href="/searchTutorSub">By Subjects</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Discussion Forum<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/discussionforum">Search Questions</a></li>
                    <li><a href="#">Ask Questions</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Weekly Challenge<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/challenge">Current hallenges</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Learning Resources<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/challenge">Search Materials</a></li>
                    <li><a href="/ranking">Share Materials</a></li>
                </ul>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <%if(!user){%>
                <li><a href="/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href="/Register"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
            <%}else{%>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span><%=user.username%><span class="caret"></a>
                    <ul class="dropdown-menu">
                        <li><a href="/userinfo">User information</a></li>
                        <li><a href="#">Top up</a></li>
                        <li><a href="/Logout">Logout</a></li>
                    </ul>
                </li>
            <%}%>
        </ul>
    </div>
</nav>

<div class="page-wrapper">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">User Information</h2>
            </div>
        </div>
    </div>
</div>

<div class="page-wrapper">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Tutor Information</h2>
            </div>
            <div class="card-body">
                <div class="jumbotron text-white rounded bg-dark">
                    <div class="name">Name:<%=user.name%></div>
                    <div class="name">Gender:<%=user.gender%></div>
                    <div class="name">Subject:<%=user.subject%></div>
                    <div class="name">University:<%=user.university%></div>
                    <div class="name">Rate:<%=user.rate%></div>
                    <div class="name">Email:<%=user.email%></div>
                    <%if (myself){%>
                        <div class="name">Leave message to tutor</div>
                        <form action="/sendmessage/<%=user.name%>" method="POST">
                            <div class="value">
                                <input calss ="input--style-5" type="text" name="message">
                            </div>
                            <div>
                                <button class="btn btn--radius-2 btn--green" type="submit" value ="send">send</button>
                            </div>
                        </form>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>