<!DOCTYPE html >


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>tutor information</title>

	<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<link href="/css/register.css" rel="stylesheet" type="text/css" media="all">

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="/css/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/fonts.css" rel="stylesheet" type="text/css" media="all" />

    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">



    <!-- new html ref -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>

</head>
<body class="w3-light-grey">


    <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><b>Studenthands</b></a>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Find Tutors<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/searchTutor">By subjects</a></li>
                            <li><a href="/findbymap">By Location</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Discussion Forum<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/discussionforum">Search Questions</a></li>
                            <li><a href="#">Ask Questions</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Weekly Challenge<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/challenge">Current hallenges</a></li>
                            <li><a href="/ranking">Ranking</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Learning Resources<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/challenge">Search Materials</a></li>
                            <li><a href="/ranking">Share Materials</a></li>
                        </ul>
                    </li>
        
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <%if(!user){%>
                        <li><a href="/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <li><a href="/Register"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
                    <%}else{%>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span><%=user.username%><span class="caret"></a>
                            <ul class="dropdown-menu">
                                <li><a href="/userinfo">User information</a></li>
                                <li><a href="#">Top up</a></li>
                                <li><a href="/getmessage">Message</a></li>
                                <li><a href="/Logout">Logout</a></li>
                            </ul>
                        </li>
                    <%}%>
                </ul>
            </div>
    </nav>




<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                
                <div class="w3-container">
                    <h2><%=tutor.name%></h2>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-green"></i><%=tutor.email%></p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-green"></i><%=tutor.phone%></p>
                    <hr>


                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-white"></i>Feedback</b></p>
                    <p>Clear and understandable</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-green" style="width:<%=tutor.rate%>%"><%=tutor.rate%></div>
                    </div>
                    <p>Organisational skills</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-green" style="width:<%=tutor.rate%>%">
                            <div class="w3-center w3-text-white"><%=tutor.rate%></div>
                        </div>
                    </div>
                    <p>Willingness to help</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-green" style="width:<%=tutor.rate%>%"><%=tutor.rate%></div>
                    </div>
                    <p>Guid and Encouragement</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-green" style="width:<%=tutor.rate%>%"><%=tutor.rate%></div>
                    </div>
                    <br>



                </div>
                <%if(user){%>
                    <form action="/sendmessage/<%=tutor.name%>" method="POST">
                        <div class="w3-container">
                        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-white"></i>Leaving message:</b></p>
                        <br>
                        <div class="input-group">
                            <input class="input--style-5" type="text" name="message" required>
                        </div>
                        </div>
                        <div>
                            <button class="btn btn--radius-2 btn--green" type="submit">Send</button>
                        </div>
                    </form>
                <%}%>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card w3-white">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-green"></i>Teaching Subjects</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Tutoring Information</b></h5>
                    <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Time Available : from <%=tutor.start_time%> to <%=tutor.end_time%>

                    </h6>
                    <% for (var i =0; i<tutor.subject.length; i++) {%>
                        <p><%=tutor.subject[i]%></p>
                    <%}%>
                    <br>
                </div>

            </div>

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-green"></i>Work Experience</h2>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b><%=tutor.experience.exptitle%></b></h5>
                    <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>from <%=tutor.experience.sdate%> to <%=tutor.experience.edate%></h6>
                    <p> <%=tutor.experience.expdes%></p>
                    <br>
                </div>

            </div>

            <div class="w3-container w3-card w3-white">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-green"></i>Education</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b><%=tutor.university.uni_name%></b></h5>
                    <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>from <%=tutor.university.uni_sdate%> to <%=tutor.university.uni_edate%></h6>
                    <p> <%=tutor.university.unides%></p>
                    <br>

                <div class="form-row">
                </div>

            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>

</body>
</html>